# -------------------------
# Environment files (NEVER COMMIT)
# -------------------------
.env
.env.*
backend/.env
frontend/.env

# -------------------------
# Python virtual environments
# -------------------------
.venv/
venv/

# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc


# -------------------------
# Node
# -------------------------
node_modules/

# -------------------------
# Generated / runtime data
# -------------------------
data/**
normalized_json/**
raw_pdfs/**
outputs/**

# Keep folder structure
!data/.gitkeep
!normalized_json/.gitkeep
!raw_pdfs/.gitkeep
!outputs/.gitkeep