Flask>=2.3,<4
flask-cors>=3,<7
reportlab>=3.6,<5
pymongo>=4.6,<5
python-dotenv>=1,<2
pdfplumber>=0.10,<0.12
openai>=1,<2
gunicorn>=21,<24
requests>=2.31,<3
google-api-python-client>=2.100,<3
google-auth>=2.15,<3
google-auth-oauthlib>=1.2,<2
